/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap'); */
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

:root{
    --blush:#e54f6d;
    --darkpurple:#22162B;
    --mediumpurple:#451f55;
    --lightpurple:#724e91;
    --yellow:#f8c630;
    --shadow:0.5rem 1rem rgba(0,0,0,.7);
}
/* Home Page */
html{
    font-size: 63%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background: var(--darkpurple);
}
html::-webkit-scrollbar-thumb{
    background: var(--blush);
    border-radius: 5rem;
}
body{
    background: var(--darkpurple);
    padding-bottom: 6rem;
}
.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000; 
    align-items: flex-end;
    text-align: center;
}
.navbar a{
    padding: 2rem;
    font-size: 2rem;
    background: var(--mediumpurple);
    flex: 1;
    color: var(--yellow);
}
.navbar i{
    color: var(--blush);
}
.navbar a:hover{
    background: var(--blush);
    padding-bottom: 5rem;
}
.navbar a:hover i{
    color: white;
}

section{
    padding: 5rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 6rem;
    background: var(--blush);
    padding: 1rem;
    font-size: 2rem;
    color: var(--yellow);

}
.btn i{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    text-align: center;
    background: white;
    border-radius: 50%;
}
.btn:hover i{
    margin-left: 1.5rem;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh);
}
.home .image{
    flex: 1 1 42rem;
}
.home .image img{
    height:60rem;
    width:50rem;
    border-radius: 70% ;
}
.home .content{
    flex: 1 1 42rem;
}
.home .content h3{
    color: white;
    font-size: 4rem;
    padding-bottom: 1rem;
}
.home .content span{
    color: var(--blush);
    font-size: 3rem;
    padding: 1rem 0;
    display: block;
}
.home .content p{
    color: var(--lightpurple);
    font-size: 2rem;
    padding: 1rem 0;
}

/* About Me Page */
.heading{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--yellow);
}
.heading span{
    text-transform: uppercase;
    color: var(--blush);
}
.aboutMe .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.aboutMe .row .info-container{
    flex: 1 1 42rem;
}
.aboutMe .row .info-container h1{
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
}
.aboutMe .row .info-container .box-container{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.aboutMe .row .info-container .box-container .box{
    flex: 1 1 20rem;
}
.aboutMe .row .info-container .box-container .box h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    color: white;
    flex-wrap: wrap;
}
.aboutMe .info-container .box h3 span{
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--lightpurple);
    flex-wrap: wrap;
    text-transform: uppercase;
}
.aboutMe .row .count-container{
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.aboutMe .row .count-container .box{
    padding: 3rem 4rem;
    border-radius: 1rem;
    flex: 1 1 20rem;
    background:var(--lightpurple);
    box-shadow: var(--shadow);
}
.aboutMe .row .count-container .box h3{
    font-size: 6rem;
    color: var(--blush);
    text-align: center;
}
.aboutMe .row .count-container .box p{
    font-size: 2.5rem;
    color: var(--yellow);
    padding-top: 1rem;
    text-align: center;
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media(max-width:768px){
    .heading{
        font-size: 12vw;
    }

    .navbar a i {
        padding: 0;
    }
    .navbar a span {
        display: none;
    }
    .navbar a:hover {
        padding-bottom: 2rem;
    }
    .home{
        text-align: center;
    }
    .home .image img{
        height: 50rem;
        width: 40rem;
    }
    .home .content h3{
        font-size: 3rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }

}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}